h1{
	color: red;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 5px solid purple;
}

li{
	color:green;
}

h4{
	background: rgba(255, 100, 20, 1);
}

body{
	background: rgb(0, 180, 200);
}